<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود به آزمون</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <meta name="google-site-verification" content="rBCD3ia89MTRM9Vv4pLT4-YqMWOsAYnZupU9t8fr3WE" />
  </head>
  <body>
    <div class="con-title">
      <button onclick="document.getElementById('audio').play()" class="audio-play">پخش توضیحات</button>
      <h2 class="title">سایت آزمون ساز ✅ تیچ آزمون ✅</h2>
    </div>
    <div class="con">
      <h1>🟥  به <span>تیچ آزمون</span> خوش آمدید . برای ورود روی یکی از لینک های زیر کلیک کنید .  🟥</h1>
      <div>
        <a href="/quiz/teacher/login">ورود به عنوان معلم</a>
        <a href="/quiz/teacher/signup">ثبت نام به عنوان معلم</a>
        <a href="/convert">تبدیل PDF به Word</a>
        <a href="/teacher/border">رفتن به پروفایل شخصی</a>
        <a href="/shop">فروشگاه</a>
      </div>
    </div>


    <audio style="position: absolute; opacity: 0; bottom: -100rem;" id="audio">
      <source src="{{ url_for('static', filename='audio/thank.mp3') }}" type="audio/mpeg">
    </audio>

  </body>
</html>
